{{ template "header" . -}}
package supertypes

import (
	"context"
	"fmt"

	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-framework/diag"
	"github.com/hashicorp/terraform-plugin-framework/types/basetypes"
	"github.com/hashicorp/terraform-plugin-go/tftypes"
)

// Ensure the implementation satisfies the expected interfaces.
var _ basetypes.{{ .TypeName }}Typable = {{ .TypeName }}Type{}

type {{ .TypeName }}Type struct {
	basetypes.{{ .TypeName }}Type
}

func (t {{ .TypeName }}Type) Equal(o attr.Type) bool {
	other, ok := o.({{ .TypeName }}Type)

	if !ok {
		return false
	}

	return t.{{ .TypeName }}Type.Equal(other.{{ .TypeName }}Type)
}

func (t {{ .TypeName }}Type) String() string {
	return "supertypes.{{ .TypeName }}Type[" + t.ElementType().String() + "]"
}

func (t {{ .TypeName }}Type) ValueFrom{{ .TypeName }}(_ context.Context, in basetypes.{{ .TypeName }}Value) (basetypes.{{ .TypeName }}Valuable, diag.Diagnostics) {
	value := {{ .TypeName }}Value{
		{{ .TypeName }}Value: in,
	}

	return value, nil
}

func (t {{ .TypeName }}Type) ValueFromTerraform(ctx context.Context, in tftypes.Value) (attr.Value, error) {
	attrValue, err := t.{{ .TypeName }}Type.ValueFromTerraform(ctx, in)
	if err != nil {
		return nil, err
	}

	{{ .TypeName }}Value, ok := attrValue.(basetypes.{{ .TypeName }}Value)

	if !ok {
		return nil, fmt.Errorf("unexpected value type of %T", attrValue)
	}

	{{ .TypeName }}Valuable, diags := t.ValueFrom{{ .TypeName }}(ctx, {{ .TypeName }}Value)

	if diags.HasError() {
		return nil, fmt.Errorf("unexpected error converting {{ .TypeName }}Value to {{ .TypeName }}Valuable: %v", diags)
	}

	return {{ .TypeName }}Valuable, nil
}

func (t {{ .TypeName }}Type) TerraformType(ctx context.Context) tftypes.Type {
	return tftypes.{{ .TypeName }}{
		ElementType: t.ElementType().TerraformType(ctx),
	}
}

func (t {{ .TypeName }}Type) ElementType() attr.Type {
	if t.{{ .TypeName }}Type.ElemType == nil {
		return missingType{}
	}

	return t.{{ .TypeName }}Type.ElemType
}

func (t {{ .TypeName }}Type) ValueType(ctx context.Context) attr.Value {
	return {{ .TypeName }}Value{
		{{ .TypeName }}Value: t.{{ .TypeName }}Type.ValueType(ctx).(basetypes.{{ .TypeName }}Value),
	}
}
