package supertypes

import (
	"context"
	"testing"

	"github.com/google/go-cmp/cmp"
	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-go/tftypes"
)

func Test{{ .TypeName }}ValueToTerraformValue(t *testing.T) {
	t.Parallel()

	type testCase struct {
		input       {{ .TypeName }}Value
		expectation interface{}
	}
	tests := map[string]testCase{
		"known-true": {
			input:       New{{ .TypeName }}Value(true),
			expectation: tftypes.NewValue(tftypes.{{ .TypeName }}, true),
		},
		"known-false": {
			input:       New{{ .TypeName }}Value(false),
			expectation: tftypes.NewValue(tftypes.{{ .TypeName }}, false),
		},
		"unknown": {
			input:       New{{ .TypeName }}Unknown(),
			expectation: tftypes.NewValue(tftypes.{{ .TypeName }}, tftypes.UnknownValue),
		},
		"null": {
			input:       New{{ .TypeName }}Null(),
			expectation: tftypes.NewValue(tftypes.{{ .TypeName }}, nil),
		},
	}
	for name, test := range tests {
		name, test := name, test
		t.Run(name, func(t *testing.T) {
			t.Parallel()
			ctx := context.Background()

			got, err := test.input.ToTerraformValue(ctx)
			if err != nil {
				t.Errorf("Unexpected error: %s", err)
				return
			}
			if !cmp.Equal(got, test.expectation) {
				t.Errorf("Expected %+v, got %+v", test.expectation, got)
			}
		})
	}
}

func Test{{ .TypeName }}ValueEqual(t *testing.T) {
	t.Parallel()

	type testCase struct {
		input       {{ .TypeName }}Value
		candidate   attr.Value
		expectation {{ golangType .TypeName }}
	}
	tests := map[string]testCase{
		"known-true-nil": {
			input:       New{{ .TypeName }}Value(true),
			candidate:   nil,
			expectation: false,
		},
		"known-true-wrongtype": {
			input:       New{{ .TypeName }}Value(true),
			candidate:   NewStringValue("true"),
			expectation: false,
		},
		"known-true-known-false": {
			input:       New{{ .TypeName }}Value(true),
			candidate:   New{{ .TypeName }}Value(false),
			expectation: false,
		},
		"known-true-known-true": {
			input:       New{{ .TypeName }}Value(true),
			candidate:   New{{ .TypeName }}Value(true),
			expectation: true,
		},
		"known-true-null": {
			input:       New{{ .TypeName }}Value(true),
			candidate:   New{{ .TypeName }}Null(),
			expectation: false,
		},
		"known-true-unknown": {
			input:       New{{ .TypeName }}Value(true),
			candidate:   New{{ .TypeName }}Unknown(),
			expectation: false,
		},
		"known-false-nil": {
			input:       New{{ .TypeName }}Value(false),
			candidate:   nil,
			expectation: false,
		},
		"known-false-wrongtype": {
			input:       New{{ .TypeName }}Value(false),
			candidate:   NewStringValue("false"),
			expectation: false,
		},
		"known-false-known-false": {
			input:       New{{ .TypeName }}Value(false),
			candidate:   New{{ .TypeName }}Value(false),
			expectation: true,
		},
		"known-false-known-true": {
			input:       New{{ .TypeName }}Value(false),
			candidate:   New{{ .TypeName }}Value(true),
			expectation: false,
		},
		"known-false-null": {
			input:       New{{ .TypeName }}Value(false),
			candidate:   New{{ .TypeName }}Null(),
			expectation: false,
		},
		"known-false-unknown": {
			input:       New{{ .TypeName }}Value(false),
			candidate:   New{{ .TypeName }}Unknown(),
			expectation: false,
		},
		"null-nil": {
			input:       New{{ .TypeName }}Null(),
			candidate:   nil,
			expectation: false,
		},
		"null-wrongtype": {
			input:       New{{ .TypeName }}Null(),
			candidate:   NewStringValue("true"),
			expectation: false,
		},
		"null-known-false": {
			input:       New{{ .TypeName }}Null(),
			candidate:   New{{ .TypeName }}Value(false),
			expectation: false,
		},
		"null-known-true": {
			input:       New{{ .TypeName }}Null(),
			candidate:   New{{ .TypeName }}Value(true),
			expectation: false,
		},
		"null-null": {
			input:       New{{ .TypeName }}Null(),
			candidate:   New{{ .TypeName }}Null(),
			expectation: true,
		},
		"null-unknown": {
			input:       New{{ .TypeName }}Null(),
			candidate:   New{{ .TypeName }}Unknown(),
			expectation: false,
		},
	}
	for name, test := range tests {
		name, test := name, test
		t.Run(name, func(t *testing.T) {
			t.Parallel()

			got := test.input.Equal(test.candidate)
			if !cmp.Equal(got, test.expectation) {
				t.Errorf("Expected %v, got %v", test.expectation, got)
			}
		})
	}
}

func Test{{ .TypeName }}ValueIsNull(t *testing.T) {
	t.Parallel()

	testCases := map[string]struct {
		input    {{ .TypeName }}Value
		expected {{ golangType .TypeName }}
	}{
		"known": {
			input:    New{{ .TypeName }}Value(true),
			expected: false,
		},
		"null": {
			input:    New{{ .TypeName }}Null(),
			expected: true,
		},
		"unknown": {
			input:    New{{ .TypeName }}Unknown(),
			expected: false,
		},
	}

	for name, testCase := range testCases {
		name, testCase := name, testCase

		t.Run(name, func(t *testing.T) {
			t.Parallel()

			got := testCase.input.IsNull()

			if diff := cmp.Diff(got, testCase.expected); diff != "" {
				t.Errorf("unexpected difference: %s", diff)
			}
		})
	}
}

func Test{{ .TypeName }}ValueIsUnknown(t *testing.T) {
	t.Parallel()

	testCases := map[string]struct {
		input    {{ .TypeName }}Value
		expected {{ golangType .TypeName }}
	}{
		"known": {
			input:    New{{ .TypeName }}Value(true),
			expected: false,
		},
		"null": {
			input:    New{{ .TypeName }}Null(),
			expected: false,
		},
		"unknown": {
			input:    New{{ .TypeName }}Unknown(),
			expected: true,
		},
	}

	for name, testCase := range testCases {
		name, testCase := name, testCase

		t.Run(name, func(t *testing.T) {
			t.Parallel()

			got := testCase.input.IsUnknown()

			if diff := cmp.Diff(got, testCase.expected); diff != "" {
				t.Errorf("unexpected difference: %s", diff)
			}
		})
	}
}

func Test{{ .TypeName }}ValueString(t *testing.T) {
	t.Parallel()

	type testCase struct {
		input       {{ .TypeName }}Value
		expectation string
	}
	tests := map[string]testCase{
		"known-true": {
			input:       New{{ .TypeName }}Value(true),
			expectation: "true",
		},
		"known-false": {
			input:       New{{ .TypeName }}Value(false),
			expectation: "false",
		},
		"null": {
			input:       New{{ .TypeName }}Null(),
			expectation: "<null>",
		},
		"unknown": {
			input:       New{{ .TypeName }}Unknown(),
			expectation: "<unknown>",
		},
	}

	for name, test := range tests {
		name, test := name, test
		t.Run(name, func(t *testing.T) {
			t.Parallel()

			got := test.input.String()
			if !cmp.Equal(got, test.expectation) {
				t.Errorf("Expected %q, got %q", test.expectation, got)
			}
		})
	}
}

func Test{{ .TypeName }}ValueValue{{ .TypeName }}(t *testing.T) {
	t.Parallel()

	testCases := map[string]struct {
		input    {{ .TypeName }}Value
		expected {{ golangType .TypeName }}
	}{
		"known-false": {
			input:    New{{ .TypeName }}Value(false),
			expected: false,
		},
		"known-true": {
			input:    New{{ .TypeName }}Value(true),
			expected: true,
		},
		"null": {
			input:    New{{ .TypeName }}Null(),
			expected: false,
		},
		"unknown": {
			input:    New{{ .TypeName }}Unknown(),
			expected: false,
		},
	}

	for name, testCase := range testCases {
		name, testCase := name, testCase

		t.Run(name, func(t *testing.T) {
			t.Parallel()

			got := testCase.input.Value{{ .TypeName }}()

			if diff := cmp.Diff(got, testCase.expected); diff != "" {
				t.Errorf("unexpected difference: %s", diff)
			}
		})
	}
}

func Test{{ .TypeName }}ValueValue{{ .TypeName }}Pointer(t *testing.T) {
	t.Parallel()

	testCases := map[string]struct {
		input    {{ .TypeName }}Value
		expected *{{ golangType .TypeName }}
	}{
		"known-false": {
			input:    New{{ .TypeName }}Value(false),
			expected: pointer(false),
		},
		"known-true": {
			input:    New{{ .TypeName }}Value(true),
			expected: pointer(true),
		},
		"null": {
			input:    New{{ .TypeName }}Null(),
			expected: nil,
		},
		"unknown": {
			input:    New{{ .TypeName }}Unknown(),
			expected: pointer(false),
		},
	}

	for name, testCase := range testCases {
		name, testCase := name, testCase

		t.Run(name, func(t *testing.T) {
			t.Parallel()

			got := testCase.input.Value{{ .TypeName }}Pointer()

			if diff := cmp.Diff(got, testCase.expected); diff != "" {
				t.Errorf("unexpected difference: %s", diff)
			}
		})
	}
}

func TestNew{{ .TypeName }}PointerValue(t *testing.T) {
	t.Parallel()

	testCases := map[string]struct {
		value    *{{ golangType .TypeName }}
		expected {{ .TypeName }}Value
	}{
		"nil": {
			value:    nil,
			expected: New{{ .TypeName }}Null(),
		},
		"value": {
			value:    pointer(true),
			expected: New{{ .TypeName }}Value(true),
		},
	}

	for name, testCase := range testCases {
		name, testCase := name, testCase

		t.Run(name, func(t *testing.T) {
			t.Parallel()

			got := New{{ .TypeName }}ValueFromPtr(testCase.value)

			if diff := cmp.Diff(got, testCase.expected); diff != "" {
				t.Errorf("unexpected difference: %s", diff)
			}
		})
	}
}
