{{ template "header" . -}}
package supertypes

import (
	"context"
    {{- if eq .TypeName "Number" }}
	"math/big"
    {{ end }}
	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-framework/types/basetypes"
)

// Ensure the implementation satisfies the expected interfaces.
var _ basetypes.{{ .TypeName }}Valuable = {{ .TypeName }}Value{}

type {{ .TypeName }}Value struct {
	basetypes.{{ .TypeName }}Value
}

func (v {{ .TypeName }}Value) Equal(o attr.Value) bool {
	other, ok := o.({{ .TypeName }}Value)

	if !ok {
		return false
	}

	return v.{{ .TypeName }}Value.Equal(other.{{ .TypeName }}Value)
}

func (v {{ .TypeName }}Value) Type(ctx context.Context) attr.Type {
	return {{ .TypeName }}Type{
		{{ .TypeName }}Type: v.{{ .TypeName }}Value.Type(ctx).(basetypes.{{ .TypeName }}Type),
	}
}

func New{{ .TypeName }}Null() {{ .TypeName }}Value {
	return {{ .TypeName }}Value{
		{{ .TypeName }}Value: basetypes.New{{ .TypeName }}Null(),
	}
}

func New{{ .TypeName }}Unknown() {{ .TypeName }}Value {
	return {{ .TypeName }}Value{
		{{ .TypeName }}Value: basetypes.New{{ .TypeName }}Unknown(),
	}
}

func New{{ .TypeName }}Value(s {{ golangType .TypeName }}) {{ .TypeName }}Value {
	return {{ .TypeName }}Value{
		{{ .TypeName }}Value: basetypes.New{{ .TypeName }}Value(s),
	}
}

{{ if ne .TypeName "Number" }}
func New{{ .TypeName }}PointerValue(s *{{ golangType .TypeName }}) {{ .TypeName }}Value {
	return {{ .TypeName }}Value{
		{{ .TypeName }}Value: basetypes.New{{ .TypeName }}PointerValue(s),
	}
}
{{ end }}

// * CustomFunc

// Get returns the known {{ .TypeName }} value.
{{- if eq .TypeName "Int64" }} If Int64 is null or unknown, returns 0.{{ end }}
{{- if eq .TypeName "Float64" }} If Float64 is null or unknown, returns 0.0.{{ end }}
{{- if eq .TypeName "String" }} If String is null or unknown, returns "".{{ end }}
{{- if eq .TypeName "Bool" }} If Bool is null or unknown, returns false.{{ end }}
{{- if eq .TypeName "Number" }} If Number is null or unknown, returns 0.0.{{ end }}
func (v *{{ .TypeName }}Value) Get() {{ golangType .TypeName }} {
	return v.{{ .TypeName }}Value.Value{{  if eq .TypeName "Number"}}BigFloat{{else}}{{ .TypeName }}{{end}}()
}

{{ if ne .TypeName "Number" }}
// GetPtr returns a pointer to the known int64 value, nil for a
// null value, or a pointer to 0 for an unknown value.
func (v *{{ .TypeName }}Value) GetPtr() *{{ golangType .TypeName }} {
	return v.{{ .TypeName }}Value.Value{{ .TypeName }}Pointer()
}
{{ end }}

// Set sets the {{ .TypeName }} value.
func (v *{{ .TypeName }}Value) Set(s {{ golangType .TypeName }}) {
	{{ if eq .TypeName "String" }}
	if s == "" {
		v.{{ .TypeName }}Value = basetypes.New{{ .TypeName }}Null()
		return
	}
	{{ end }}
	v.{{ .TypeName }}Value = basetypes.New{{ .TypeName }}Value(s)
}

{{ if ne .TypeName "Number" }}
// SetPtr sets a pointer to the {{ .TypeName }} value.
func (v *{{ .TypeName }}Value) SetPtr(s *{{ golangType .TypeName }}) {
	if s == nil {
		v.{{ .TypeName }}Value = basetypes.New{{ .TypeName }}Null()
		return
	}
	
	v.{{ .TypeName }}Value = basetypes.New{{ .TypeName }}PointerValue(s)
}
{{ end }}

{{ if eq .TypeName "Float64" }}

// SetFloat32 sets a converted float32 to float64 value.
func (v *Float64Value) SetFloat32(s float32) {
	v.Set(setFloatValue(s))
}

// SetFloat64 sets a float64 value. This is a same func as Set.
func (v *Float64Value) SetFloat64(s float64) {
	v.Set(s)
}

// SetFloat32Ptr sets a converted float32 to float64 pointer. If the pointer is nil, the value is set to null.
func (v *Float64Value) SetFloat32Ptr(s *float32) {
	if s == nil {
		v.Float64Value = basetypes.NewFloat64Null()
		return
	}

	v.Float64Value = basetypes.NewFloat64Value(setFloatValue(*s))
}

// SetFloat64Ptr sets a float64 pointer. This is a same func as SetPtr.
func (v *Float64Value) SetFloat64Ptr(s *float64) {
	v.SetPtr(s)
}

// GetFloat32 returns converted float64 to float32 value.
func (v *Float64Value) GetFloat32() float32 {
	return float32(v.Get())
}

// GetFloat64 returns the float64 value. This is a same func as Get.
func (v Float64Value) GetFloat64() float64 {
	return v.Get()
}

// GetFloat32Ptr returns a converted float64 to float32 pointer. If the value is null or unknown, nil is returned.
func (v Float64Value) GetFloat32Ptr() *float32 {
	if v.IsKnown() {
		s := float32(v.Get())
		return &s
	}

	return nil
}

// GetFloat64Ptr returns a float64 pointer. This is a same func as GetPtr. If the value is null or unknown, nil is returned.
func (v Float64Value) GetFloat64Ptr() *float64 {
	return v.GetPtr()
}

type floatValues interface {
	float32 | float64
}

func setFloatValue[T floatValues](s T) float64 {
	return float64(s)
}
{{ end }}

{{ if eq .TypeName "Int64" }}
// SetInt sets the int64 value to the given int.
func (v *Int64Value) SetInt(s int) {
	v.Set(setIntValue(s))
}

// SetInt8 sets the int64 value to the given int8.
func (v *Int64Value) SetInt8(s int8) {
	v.Set(setIntValue(s))
}

// SetInt16 sets the int64 value to the given int16.
func (v *Int64Value) SetInt16(s int16) {
	v.Set(setIntValue(s))
}

// SetInt32 Sets the int64 value to the given int32.
func (v *Int64Value) SetInt32(s int32) {
	v.Set(setIntValue(s))
}

// SetInt64 sets the int64 value to the given int64. This is a same func as Set.
func (v *Int64Value) SetInt64(s int64) {
	v.Set(s)
}

// SetIntPtr sets the int64 value to the given int pointer. If the pointer is nil, the value is set to null.
func (v *Int64Value) SetIntPtr(s *int) {
	if s == nil {
		v.Int64Value = basetypes.NewInt64Null()
		return
	}
	v.Int64Value = basetypes.NewInt64Value(setIntValue(*s))
}

// SetInt8Ptr sets the int64 value to the given int8 pointer. If the pointer is nil, the value is set to null.
func (v *Int64Value) SetInt8Ptr(s *int8) {
	if s == nil {
		v.Int64Value = basetypes.NewInt64Null()
		return
	}
	v.Int64Value = basetypes.NewInt64Value(setIntValue(*s))
}

// SetInt16Ptr sets the int64 value to the given int16 pointer. If the pointer is nil, the value is set to null.
func (v *Int64Value) SetInt16Ptr(s *int16) {
	if s == nil {
		v.Int64Value = basetypes.NewInt64Null()
		return
	}
	v.Int64Value = basetypes.NewInt64Value(setIntValue(*s))
}

// SetInt32Ptr sets the int64 value to the given int32 pointer. If the pointer is nil, the value is set to null.
func (v *Int64Value) SetInt32Ptr(s *int32) {
	if s == nil {
		v.Int64Value = basetypes.NewInt64Null()
		return
	}
	v.Int64Value = basetypes.NewInt64Value(setIntValue(*s))
}

// SetInt64Ptr sets the int64 value to the given int64 pointer.
func (v *Int64Value) SetInt64Ptr(s *int64) {
	v.SetPtr(s)
}

// GetInt returns converted int64 to int value.
func (v Int64Value) GetInt() int {
	return int(v.Get())
}

// GetInt8 return converted int64 to int8 value.
func (v Int64Value) GetInt8() int8 {
	return int8(v.Get())
}

// GetInt16 return converted int64 to int16 value.
func (v Int64Value) GetInt16() int16 {
	return int16(v.Get())
}

// GetInt32 returns converted int64 to int32 value.
func (v Int64Value) GetInt32() int32 {
	return int32(v.Get())
}

// GetInt64 returns int64 value. This is a same func as Get.
func (v Int64Value) GetInt64() int64 {
	return v.Get()
}

// GetIntPtr returns a converted int64 to int pointer. If the value is null or unknown, nil is returned.
func (v Int64Value) GetIntPtr() *int {
	if v.IsKnown() {
		i := int(v.Get())
		return &i
	}

	return nil
}

// GetInt8Ptr returns a converted int64 to int8 pointer. If the value is null or unknown, nil is returned.
func (v Int64Value) GetInt8Ptr() *int8 {
	if v.IsKnown() {
		i := int8(v.Get())
		return &i
	}

	return nil
}

// GetInt16Ptr returns a converted int64 to int16 pointer. If the value is null or unknown, nil is returned.
func (v Int64Value) GetInt16Ptr() *int16 {
	if v.IsKnown() {
		i := int16(v.Get())
		return &i
	}

	return nil
}

// GetInt32Ptr returns a converted int64 to int32 pointer. If the value is null or unknown, nil is returned.
func (v Int64Value) GetInt32Ptr() *int32 {
	if v.IsKnown() {
		i := int32(v.Get())
		return &i
	}

	return nil
}

// GetInt64Ptr returns a pointer to the underlying int64 value.
func (v Int64Value) GetInt64Ptr() *int64 {
	if v.IsKnown() {
		i := v.Get()
		return &i
	}

	return nil
}

type intValues interface {
	int | int8 | int16 | int32 | int64
}

func setIntValue[T intValues](s T) int64 {
	return int64(s)
}


{{ end }}

// SetNull sets the {{ .TypeName }} value to null.
func (v *{{ .TypeName }}Value) SetNull() {
	v.{{ .TypeName }}Value = basetypes.New{{ .TypeName }}Null()
}

// SetUnknown sets the {{ .TypeName }} value to unknown.
func (v *{{ .TypeName }}Value) SetUnknown() {
	v.{{ .TypeName }}Value = basetypes.New{{ .TypeName }}Unknown()
}

// IsKnown returns true if the value is not null and not unknown.
func (v {{ .TypeName }}Value) IsKnown() bool {
	return !v.{{ .TypeName }}Value.IsNull() && !v.{{ .TypeName }}Value.IsUnknown()
}
