{{ template "header" . -}}
package supertypes

import (
	"context"

	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-framework/diag"
	"github.com/hashicorp/terraform-plugin-framework/types"
	"github.com/hashicorp/terraform-plugin-framework/types/basetypes"
)

// Ensure the implementation satisfies the expected interfaces.
var _ basetypes.ObjectValuable = {{ .TypeName }}NestedValue{}

type {{ .TypeName }}NestedValue struct {
	basetypes.ObjectValue
}

func (v {{ .TypeName }}NestedValue) Type(ctx context.Context) attr.Type {
	return v.ObjectValue.Type(ctx)
}

func (v {{ .TypeName }}NestedValue) ToObjectValue(_ context.Context) (basetypes.ObjectValue, diag.Diagnostics) {
	return v.ObjectValue, nil
}

func New{{ .TypeName }}NestedNull(attributeTypes map[string]attr.Type) SingleNestedValue {
	return SingleNestedValue{
		ObjectValue: basetypes.NewObjectNull(attributeTypes),
	}
}

func New{{ .TypeName }}NestedUnknown(attributeTypes map[string]attr.Type) SingleNestedValue {
	return SingleNestedValue{
		ObjectValue: basetypes.NewObjectUnknown(attributeTypes),
	}
}

// * CustomFunc

func (v *{{ .TypeName }}NestedValue) Get(ctx context.Context, target interface{}, opts basetypes.ObjectAsOptions) (diag diag.Diagnostics) {
	return v.ObjectValue.As(ctx, target, opts)
}

func (v *{{ .TypeName }}NestedValue) Set(ctx context.Context, structure any) diag.Diagnostics {
	var d diag.Diagnostics
	v.ObjectValue, d = types.ObjectValueFrom(ctx, v.AttributeTypes(ctx), structure)
	return d
}

func (v *{{ .TypeName }}NestedValue) SetNull(ctx context.Context) {
	v.ObjectValue = basetypes.NewObjectNull(v.AttributeTypes(ctx))
}

func (v *{{ .TypeName }}NestedValue) SetUnknown(ctx context.Context) {
	v.ObjectValue = basetypes.NewObjectUnknown(v.AttributeTypes(ctx))
}

func (v {{ .TypeName }}NestedValue) IsKnown() bool {
	return !v.ObjectValue.IsNull() && !v.ObjectValue.IsUnknown()
}
