on:
  workflow_dispatch:
  push:
    branches:
      - '**'
      - '!main'
    paths:
      - '.github/workflows/go-generate.yml'
      - 'template.go'
      - 'templates/*.go.tmpl'
name: go-generate
jobs:
  go-generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
      - uses: actions/setup-go@v5
      - run: go generate ./...
      - run: git status --ignored
      - name: git diff
        continue-on-error: true
        run: |
          git diff --compact-summary --exit-code
      - uses: stefanzweifel/git-auto-commit-action@v5
        if: failure() # Run only if previous step have diff 
        with:
          add_options: '--force'
          commit_message: 'ci(generate): changes by go generate'
          file_pattern: '*_type.go *_value.go'
          skip_dirty_check: true
  call-workflow-tests:
    needs: go-generate
    uses: ./.github/workflows/tests.yml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
