on:
  workflow_dispatch:
  push:
    branches:
      - '**'
      - '!main'
    paths:
      - '.github/workflows/go-generate.yml'
      - 'template.go'
      - 'templates/*.go.tmpl'
name: go-generate
jobs:
  go-generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      - run: go generate ./...
      - run: git status --ignored
      - name: git diff
        continue-on-error: true
        run: |
          git diff --compact-summary --exit-code
      - uses: stefanzweifel/git-auto-commit-action@8621497c8c39c72f3e2a999a26b4ca1b5058a842 # v5.0.1
        if: failure() # Run only if previous step have diff
        with:
          add_options: '--force'
          commit_message: 'ci(generate): changes by go generate'
          file_pattern: '*_type.go *_value.go'
          skip_dirty_check: true
  call-workflow-tests:
    needs: go-generate
    uses: ./.github/workflows/tests.yml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
